h3 {
    margin-left: 40px;
    margin-top: 0px;
}

p {
    padding-left: 40px;
    text-indent: 40px;
}

.footer {
    font-size: 12px;
    height: 20px;
    margin-top: 90px;
    margin-left: 20px;
}